
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.square {
    height: 200px;
    width: 200px;
    background-color: rgb(126, 33, 33);
    border:rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
  }